<div class="burger text-left rounded">
  <strong>{{name}}</strong>	

	<button class="change-eaten btn-sm" data-id="{{id}}" data-neweaten="{{eaten}}">
		{{#if eaten}} Eat  {{else}} Make {{/if}}
	</button>
</div>
